@import './base.css';

a {
    text-decoration: none;
}

.flex {
    display: flex;
}

.flex-center {
    align-items: center;
    justify-content: center;
}

.flex-column {
    flex-direction: column;
}

.flex-gap-small {
    gap: 0.25rem;
}

.flex-gap-medium {
    gap: 0.5rem;
}

.flex-gap-large {
    gap: 1rem;
}